<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PCPartsDB" connectionString="Server=DESKTOP-CVC40GK;Database=PCPartsScrap;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="PcPartsScrap.Wcf.Services.PcPartsService"
               behaviorConfiguration="HttpMetadataEnabled"
               >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8011"/>
            <add baseAddress="net.tcp://localhost:8010"/>
          </baseAddresses>
        </host>
        <endpoint address="PcPartsService"
                  binding="netTcpBinding"
                  contract="PcPartsScrap.Wcf.Contracts.IPcPartsService"                  
                  />

        <endpoint address="PcPartsService"
                  binding="basicHttpBinding"
                  contract="PcPartsScrap.Wcf.Contracts.IPcPartsService"
                  />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpMetadataEnabled" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>